@font-face {
    font-family: Roboto;
    src: url('../assets/fonts/Roboto_Regular.ttf');
}
* {
    font-family: Roboto;
}
body {
    margin: 0;
    padding: 0;
    background-color: #00a99d;
}
ul {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.icons {
    width: 40px;
    height: 40px;
    fill: #fff;
    cursor: pointer;
    transition: 0.5s;
}
.icons:hover {
 transform: translateY(5px);
 transition: 0.5s;
}
:disabled {
    background-color: rgba(0,0,0,0.1) !important;
}
.invisible {
    display: none !important;
}
.visible {
    opacity: 1 !important;
}
.valid {
    color: green;
}
.invalid {
    color: red;
}
.active {
    display: block !important;
}
.active-tab--bck-clr {
    background-color: #FEB811;
}
.wrapper {
    max-width: 1970px;
    padding: 30px 15px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.main__wrapper {
    flex-flow: column;
}
.main, .main-mailing {
    display: flex;
    flex-flow: column;
    justify-content: center;
    place-items: center;
}

.content {
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
}


.main__taps-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
}
.main__taps-item  {
    font-size: 25px;
    color: #fff;
    border: 1px solid #fff;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    margin: 1px 0 0 0;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    list-style-type: none;
    z-index: 1;
    text-decoration: none;
}
.main__taps-item:first-child {
    border-top-left-radius: 5px;
}
.main__taps-item:last-child {
    border-top-right-radius: 5px;
}
.table {
    font-size: 12px;
}
.table__wrapper {
    flex-flow: row nowrap;
    background-color: #fff;
    border-radius: 30px;
}
.header__greetings {
    align-self: flex-start;
}
.header__greetings-btn {
    color: #fff;
    font-style: italic;
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.header__wrapper {
    flex-flow: column;
    place-items: center;
}
.header__img,
.auth__img {
    text-rendering: auto;
    transition: 1s;
}
.header__view-table-btn {
    background-image: url('../assets/img/free-icon-report-5671522.png');
    background-repeat: no-repeat;

}
/* .header__img:hover {
    transform: scale(1.1);
    transition: 1s;
} */
.content-btns {
    background-color: #c63a3c;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    border: none;
    width: auto;
    height: 35px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.5s;
}

.content-btns:hover {
    transform: translateX(2px);
    transition: 0.5s;
}
.send-form, .content-forms {
    border: 1px solid #fff;
    border-radius: 5px;
    border-top-left-radius: 0;
    z-index: 1;
    padding: 20px;
}
.add-user-form__form {
    flex-flow: column nowrap;
}
.add-user-form__form input,
.add-user-form__form select {
    outline: none;
    transition: 0.3s;
    height: 27px;
    margin-top: 5px;
}
.add-user-form__form select {
    color: grey;
}
.add-user-form__form input:hover {
    transform: translateX(1px);
    transition: 0.3s;
}
.add-user-form__btn {
    width: 375px;
}
form {
    display: flex;
    flex-flow: row wrap;
}

.send-form__error-msg,
.add-user-form__error-msg {
    text-align: center;
    background-color: #fff;
    border-radius: 30px;
    font-size: 15px;
    padding: 7px;
    margin-top: 10px;
    max-width: 160px;
}
.add-user-form__error-msg {
    background-color: transparent;
}
.label {
    font-style: italic;
    font-size: 12px;
    color: #fff;
}

.add-user-form__form label {
    color: grey;
}


.send-form__textarea {
    min-width: 400px;
    max-width: 400px;
    min-height: 100px;
    max-height: 200px;
    border-radius: 10px;
}
.send-form__to {
    padding-right: 10px;
}

.send-content {
    display: flex;
    place-items: center;
    padding-top: 15px;
    margin: 0 auto;
    flex-flow: column;
}
.edit-text__submit {
    flex-flow: row;
}
.send-form__submit {
    padding-top: 25px;
    width: 210px;
    order: 2;
}

.send-form__result {
    background-color: #fff;
    border-radius: 10px;
    width: 400px;
    margin-left: 20px;
    /* opacity: 0; */
    order: 1;
}

.send-form__result-head {
    font-style: italic;
    font-size: 15px;
    color: #000;
    text-align: center;
}

.send-form__result-list {
    display: flex;
    flex-flow: row nowrap;
}

.result-list__list-name,
.result-list__list-email,
.result-list__list-status {
    margin: 0 0 0 15px;
    padding: 10px 0 0 15px;
    list-style-type: none;
}
.result-list__list-name {
    list-style-type: decimal;
}

.table {
    display: flex;
    flex-flow: column;
    justify-content: center;
    place-items: center;
    padding: 0 0 50px 0;
}

.table__submit-list {
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 0 20px;
}
.table__list-item {
    font-weight: bold;
    font-size: 25px;
}

.table__head {
    color: #fff;
}
.table__head-mails,
.table__head-date,
.table__head-title,
.table__head-sender {
    list-style-type: none;
}
.send-form__wait {
    animation: waiting 3s linear infinite;
    font-size: 25px;
    color: #fff;
}
.send-form__count {
    font-size: 23px;
    color: #fff;
}
@keyframes waiting {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.success-result {
    color: green;
    font-size: 13px;
    font-style: italic;
}
.error-result {
    color: red;
    font-size: 13px;
    font-style: italic;
}
.success-border {
    border: 1px solid green;
    border-radius: 5px;
}
.error-send-list {
    color: red;
}

.edit-text__list {
    list-style-type: none;
}

.main {
    border-top: 1px solid #fff;
}
/*Auth*/
.auth {
    background-color: #00a99d;
}

.fixed-visible {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.register-content {
    display: flex;
    flex-flow: column;
    padding-top: 5px;
}

.auth__register-h3 {
    color: #fff;
    margin: 0 auto;
    padding: 0;
}
.auth__content,
.auth__logo {
    min-width: 240px;
    display: flex;
    flex-flow: column;
    padding: 30px;
    justify-content: center;
}
.auth__container {
    border: 1px solid #fff;
    border-radius: 30px;
    display: flex;
    flex-flow: row;
}
.auth__logo {
    border-right: 1px dotted #fff;
}

.register-form {
    display: flex;
    flex-flow: column;
}

.register-content {
    display: flex;
    flex-flow: column;
}
.register-form__send-content {
    padding-top: 10px;
}

.footer {
    height: 100px;
    background-color: #00a99d;
}